{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <td>Stocks Owned</td>
                <td># of Shares</td>
                <td>Current Price</td>
                <td>Total Value</td>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result['stock_symbol'] }}</td>
                    <td>{{ result['shares'] }}</td>
                    <td>{{ result['price'] | usd }}</td>
                    <td>{{ result['total'] | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Cash Balance: {{ cash_bal[0]['cash'] | usd }}</td>
            </tr>
            <tr>
                <td>Grand total: {{ grand_total | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
